*{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.3em;
}
ul {
  list-style-type: none;
}
h3, h4 {
  letter-spacing: 3px;
}

/**___________Aside_______________*/

aside {
  background-color: #A9A9A9;
  color: #FFFFF0;
  text-align: center;
  margin-left: 2em;
  margin-right: 1em;
}
.main-container {
  width: 30%;
  float: left;
}
aside img{
  width: 10em;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: 100%;
}
aside h3 {
  border-bottom: solid #FFFFF0;
}

/**_____________Main_____________*/

main {
  color: #757575;
  margin-right: 2em;
}
.secondary-container {
  width: 65%;
  float: right;
}
#central-name {
  background-color: #d9b395;
  text-align: center;
  padding: 3em;
}
h1 {
  color: #4c2f08;
  letter-spacing: 5px;
}
h2 {
  color: #FFFFF0;
  letter-spacing: 5px;
  border-top: solid;
}
.background {
 background-color: #FDF5E6;
}
.contacts {
  width: 5em;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: 100%;
}