*{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Myeongjo', sans-serif;
  line-height: 1.3em;
}
ul {
  list-style-type: none;
}
h3, h4 {
  letter-spacing: 3px;
}
.main{
  display: flex;
  flex-direction: row;
}
/**___________Aside_______________*/

aside {
  background-color: #A9A9A9;
  color: #FFFFF0;
  text-align: center;
  margin-left: 1em;
}
.main-container {
  flex-basis: 30%;
  align-self: flex-start;
}
aside img{
  width: 15em;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 50%;
}
aside h3 {
  border-bottom: solid #000000;
  padding: 0.5em; 
  margin-bottom: 10px;
}
aside section{
  padding-bottom: 1.5em;
}
dl{
  display: flex;
  flex-wrap: wrap;
}
dt, dd{
  border-top:2px solid #FFFFF0;
  flex-basis: 50%;
  margin: 0%;
  font-size: 12px;
}
dt :last-of-type, dd :last-of-type{
border-bottom: 2px solid #FFFFF0;
}
#contact-list li{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 50%;
  margin: 0%;
  text-align: center;
  padding-top: 10%;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 10%;
  padding-left: 15%;
  font-size: 25px;
}
.adress::before{
font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "\f3c5";
}
.telephone::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f87b";
}
.email::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0e0";
}
.fb::before{
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f09a";
}
.linkedin::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f08c";
  }
/**_____________Main_____________*/

main {
  color: #757575;
}
.secondary-container {
  flex-basis: 65%;
  align-self: flex-end;
  margin-right: 2em;
}
#central-name {
  background-color: #d9b395;
  text-align: center;
  padding: 3em;
}
h1 {
  color: #4c2f08;
  letter-spacing: 10px;
  padding-bottom: 10px;
  font-size: 2.5em;
}
h2 {
  color: #FFFFF0;
  letter-spacing: 5px;
  border-top: solid;
  padding-top: 10px;
}
.contacts {
  width: 5em;
  margin: auto;
  border-radius: 100%;
}
main section article p{
  padding-top: 20px;
  padding-bottom: 20px;
}
main h3{
  padding-top: 10px;
  padding-bottom: 10px;
}
.flex-container{
  background-color: #FDF5E6;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container{
  flex: 50%;
  text-align: center;
  padding-top: 40px;
}